################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TopDownShooter/.vs/
/TopDownShooter/bin/
/TopDownShooter/obj
